// font-family: 'Karla', sans-serif;
// font-family: 'Rubik', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik&display=swap");

@import "./settings.scss"; // global settings.

@import "./mobile/header.scss"; // header part.

@import "./mobile/features.scss"; // features part

@import "./mobile/content-1.scss"; // content 1 part.

@import "./mobile/content2.scss"; // content 2 part

@import "./mobile/testimonial.scss"; // testimonial part

@import "./mobile/price.scss"; // price part.

@import "./mobile/footer.scss"; // footer.

@media screen and (min-width: 768px) {
  // px a definir
  @import "./tablet/tablet-header.scss";

  @import "./tablet/tablet-features.scss";

  @import "./tablet/tablet-content1.scss";

  @import "./tablet/tablet-content2.scss";

  @import "./tablet/tablet-testimonial.scss";

  @import "./tablet/tablet-price.scss";

  @import "./tablet/tablet-footer.scss";
}
