// font-family: 'Karla', sans-serif;
// font-family: 'Rubik', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik&display=swap");

@import "./settings.scss";

@import "./contributors/chris.scss"; // chrispart

@import "./contributors/features.scss"; //features

@import "./contributors/content2.scss"; //content2

@import "./contributors/testimonial.scss"; //testimonial

@import "./contributors/footer.scss"; // footer :)
