// font-family: 'Karla', sans-serif;
// font-family: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik&display=swap');

@import './settings.scss'; // global settings.

@import './mobile/header.scss'; // header part.

@import './mobile/content-1.scss'; // content 1 part.

@import './mobile/elise.scss'; // elisepart

@import './mobile/price.scss'; // price part.

@import './mobile/footer.scss'; // footer.

@media screen and (max-width: 900px) // px a definir
{
    @import './tablet/tablet-header.scss';

    @import './tablet/tablet-content1.scss';

    // @import '';

    @import './tablet/tablet-price.scss';

    @import './tablet/tablet-footer.scss';
}