// font-family: 'Karla', sans-serif;
// font-family: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik&display=swap');

@media only screen and (max-width: 500px) {
    @import './settings.scss'; // global settings.

    @import './contributors/header.scss'; // header part.

    @import './contributors/content-1.scss'; // content 1 part.

    @import './contributors/elise.scss'; // elisepart

    @import './contributors/price.scss'; // price part.

    @import './contributors/footer.scss'; // footer.
}