.content2 {
  width: 652px;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
}

.content2Img {
  height: 500px;
  width: auto;
  align-self: center;
}
.content2Border {
  width: 720px;
}
