@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik&display=swap");
body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  background-color: #e3eef8;
}

@media only screen and (max-width: 500px) {
  header {
    width: 383px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header .breakWord {
    display: block;
  }

  nav {
    width: 350px;
    margin: 9px auto 52px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  nav .hamburger {
    width: 25px;
    height: 15px;
    background-image: url(/assets/images/icons/menuHamburger.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  nav .shadesLogo {
    transform: scale(1.5);
  }
  nav .shadesLogo .logoShapeOne {
    background-image: url(/assets/images/test/test.svg);
    width: 9.52px;
    height: 5.63px;
    position: absolute;
    top: 1.5px;
  }
  nav .shadesLogo .logoShapeTwo {
    background-image: url(/assets/images/test/Path2.svg);
    width: 9.52px;
    height: 3.54px;
    position: absolute;
    top: 5.54px;
  }
  nav .shadesLogo .logoShapeTree {
    background-image: url(/assets/images/test/Path2.svg);
    width: 9.52px;
    height: 3.54px;
    position: absolute;
    top: 7.58px;
  }
  nav .shadesLogo p {
    margin-left: 15px;
    font-family: "Rubik", sans-serif;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -1px;
    color: #1f1f1f;
  }

  .headerContainer {
    width: 330px;
  }
  .headerContainer .headerText p:first-of-type {
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.8125px;
    color: #666666;
  }
  .headerContainer .headerText h1 {
    margin: 16px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -4px;
    color: #1f1f1f;
  }
  .headerContainer .headerText p:last-of-type {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #666666;
  }
  .headerContainer .form {
    margin: 24px auto;
    height: 28px;
    display: flex;
    justify-content: center;
    gap: 7px;
  }
  .headerContainer .form input:first-child {
    width: 134px;
    height: 28px;
    margin-bottom: 16px;
    padding-left: 11.59px;
    font-size: 12px;
    line-height: 14px;
    border: none;
    border-radius: 5px;
  }
  .headerContainer .form input:last-child {
    width: 101px;
    height: 28px;
    align-self: center;
    border: none;
    border-radius: 5px;
    background-color: #fc593b;
    color: #fff;
  }
  .headerContainer .headerFoot {
    text-align: center;
  }
  .headerContainer .headerFoot p {
    font-size: 10px;
    letter-spacing: -0.32381px;
    color: #878b90;
  }
}
@media only screen and (max-width: 500px) {
  body {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  .featuresContainer {
    padding-top: 64px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 66px;
    background-color: #e3eef8;
  }

  .featuresContent {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 57px;
  }
  .featuresContent .features {
    display: flex;
    flex-direction: row;
    gap: 31px;
  }
  .featuresContent img {
    width: 24px;
    height: 26px;
    margin-top: 3px;
  }
  .featuresContent .featuresText {
    display: flex;
    flex-direction: column;
  }
  .featuresContent .featuresText h3 {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -1px;
  }
  .featuresContent .featuresText p {
    color: #666666;
    font-size: 15px;
    line-height: 28px;
  }

  .content2 {
    background-color: #e3eef8;
    padding-top: 67px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ffffff;
  }
  .content2 .content2Main h3 {
    color: #258aff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2.8125px;
  }
  .content2 .content2Main h2 {
    color: #1f1f1f;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -2.52632px;
    padding-top: 20px;
  }
  .content2 .content2Main p {
    color: #666666;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    padding-top: 20px;
  }
  .content2 .content2Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
  }
  .content2 .content2Box .content2Icon {
    background-color: #258aff;
    border-radius: 50%;
    width: 20.53px;
    height: 20.53px;
    padding: 11.73px;
  }
  .content2 .content2Box h3 {
    width: 160px;
    height: 32px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -1px;
  }
  .content2 .content2Box p {
    width: 243px;
    height: 84px;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #666666;
  }
  .content2 img {
    border-radius: 10px;
  }
}
@media only screen and (max-width: 500px) {
  footer {
    margin: 38px auto 0 auto;
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  footer .footerMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
  }
  footer .footerMain .footerParagraph {
    height: 84px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #666666;
  }
  footer .footerMain .socialNetworkIcons ul {
    display: flex;
    gap: 12px;
  }
  footer .footerMain .socialNetworkIcons ul img {
    width: 14px;
    height: 14px;
  }
  footer .footerLinks .menuLinks h4 {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #666666;
  }
  footer .footerLinks .menuLinks ul {
    height: 160px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  footer .footerLinks .menuLinks ul li a {
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #1f1f1f;
  }
  footer .footerLinks .menuLinks ul li a:visited {
    color: #1f1f1f;
  }
}

/*# sourceMappingURL=style.css.map */
