.content2 {
    width: 1100px;
}

.content2Text {
    width: 900px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        line-height: 1.3em;
    }
}

.content2Boxes {
    width: 300px;
    flex-direction: row;
    align-items: start;
    gap: 150px;

    .content2Box {
        align-items: flex-start;

        h3 {
            text-align: start;
        }

        p {
            text-align: start;
        }
    }
}