.featuresContainer {
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 66px;
  margin-bottom: 66px;
}
.featuresContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 57px;
  .features {
    display: flex;
    flex-direction: row;
    gap: 31px;
  }
  img {
    width: 24px;
    height: 26px;
    margin-top: 3px;
    filter: invert(44%) sepia(19%) saturate(7149%) hue-rotate(197deg)
      brightness(102%) contrast(101%);
  }
  .featuresText {
    display: flex;
    flex-direction: column;
    h3 {
      color: #000000;
      font: {
        weight: 700;
        size: 20px;
      }
      line-height: 32px;
      letter-spacing: -1px;
    }
    p {
      color: #666666;
      font: {
        size: 15px;
      }
      line-height: 28px;
    }
  }
}
