header {
  width: 330px;
  margin: 0 auto 39px auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.shadesLogo {
  margin-left: 10px;
  width: 70px;
  height: 18px;
}

.shadesLogo img {
  width: 70px;
}

nav {
  width: 330px;
  margin: 9px auto 52px auto;

  display: flex;
  justify-content: space-between;

  .shadesLogo {
    margin-top: 9px;
  }

  .navLinks {
    display: none;
    width: 500px;
    height: 475px;

    position: absolute;
    top: -5px;
    left: 0;
    transform: translate(-78%, -3%);
    background-color: #192f48;

    z-index: 2;

    ul {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 40px;

      li {
        width: 100px;
        flex-basis: 25px;

        display: flex;
        justify-content: center;

        border-bottom: 2px solid transparent;

        &:hover {
          border-bottom: 2px solid #258aff;
        }

        a {
          font-size: 16px;
          text-decoration: none;
          color: #fff;

          &:visited {
            color: #fff;
          }

          &:hover {
            color: #258aff;
          }
        }
      }
    }
  }

  .navLinksContent {
    width: 25px;
    height: 12px;

    position: absolute;
    top: 18px;
    right: 0;

    &:hover {
      .navLinks {
        display: block;
      }
    }
  }

  .getStarted {
    display: none;
  }
  .hamburger {
    width: 25px;
    height: 12px;
    margin-top: 9px;

    background-image: url(./assets/images/icons/Hamburger.svg);
    background-repeat: no-repeat;
    background-size: contain;

    cursor: pointer;
  }
}

.headerContainer {
  width: 330px;
  padding-top: 13px;

  .headerText {
    p:first-of-type {
      font-weight: 700;
      font-size: 10px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2.8125px;

      color: #666666;
    }

    h1 {
      margin: 16px 0;
      font-weight: 700;
      font-size: 40px;
      line-height: 45px;
      text-align: center;
      letter-spacing: -4px;

      color: #1f1f1f;
    }

    p:last-of-type {
      font-size: 15px;
      line-height: 25px;
      text-align: center;
      letter-spacing: -0.4px;

      color: #666666;
    }
  }

  .form {
    margin: 24px auto;
    height: 28px;

    display: flex;
    justify-content: center;
    gap: 7px;

    input:first-child {
      width: 134px;
      height: 28px;
      margin-bottom: 16px;
      padding-left: 11.59px;

      font-size: 12px;
      line-height: 14px;

      border: none;
      border-radius: 5px;
    }

    input:last-child {
      width: 101px;
      height: 28px;
      align-self: center;

      border: none;
      border-radius: 5px;

      cursor: pointer;

      background-color: #fc593b;
      color: #fff;
    }
  }

  .headerFoot {
    text-align: center;

    p {
      font-size: 10px;
      letter-spacing: -0.32381px;

      color: #878b90;
    }
  }
}
