@media only screen and (max-width: 500px) {

   header {
       width: 383px;
       margin: 0 auto;

       display: flex;
       flex-direction: column;
       align-items: center;

       .breakWord {
            display: block;
        }
   }

   nav {
       width: 350px;
       margin: 9px auto 52px auto;

       display: flex;
       justify-content: space-between;

       position: relative;
       
       .hamburger {
           width: 25px;
           height: 15px;
           background-image: url(/assets/images/icons/menuHamburger.png);
           background-repeat: no-repeat;
           background-size: contain;
       }
       
       // main container of shades logo 
       // (better quality with svg)
       .shadesLogo {
           transform: scale(1.5);
         
        // first part of shades logo
        .logoShapeOne {
            background-image: url(/assets/images/test/test.svg);
            width: 9.52px;
            height: 5.63px;

            position: absolute;
            top: 1.5px;
        }

        // second part of shades logo
        .logoShapeTwo {
            background-image: url(/assets/images/test/Path2.svg);
            width: 9.52px;
            height: 3.54px;

            position: absolute;
            top: 5.54px;
        }

        // last part of shades logo
        .logoShapeTree {
            background-image: url(/assets/images/test/Path2.svg);
            width: 9.52px;
            height: 3.54px;

            position: absolute;
            top: 7.58px;
        }

        p {
            margin-left: 15px;
            font-family: 'Rubik', sans-serif;
            font-size: 10px;
            line-height: 14px;
            letter-spacing: -1px;
        
            color: #1F1F1F;
        }
    }
}             

   .headerContainer {
        width: 330px;

        .headerText {
            p:first-of-type {
                font-weight: 700;
                font-size: 10px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 2.8125px;
    
                color: #666666;
            }

            h1 {
                margin: 16px 0;
                font-weight: 700;
                font-size: 40px;
                line-height: 45px;
                text-align: center;
                letter-spacing: -4px;

                color: #1F1F1F;
            }
    
            p:last-of-type {
                font-size: 15px;
                line-height: 25px;
                text-align: center;
                letter-spacing: -0.4px;

                color: #666666;
            }
        }

        .form {
            margin: 24px auto;
            height: 28px;

            display: flex;
            justify-content: center;
            gap: 7px;

            input:first-child {
                width: 134px;
                height: 28px;
                margin-bottom: 16px;
                padding-left: 11.59px;

                font-size: 12px;
                line-height: 14px;

                border: none;
                border-radius: 5px;

                background-color: lightcyan;
            }

            input:last-child {
                width: 101px;
                height: 28px;
                align-self: center;

                border: none;
                border-radius: 5px;

                background-color: #FC593B;
                color: #fff;
            }
        }

        .headerFoot {
            text-align: center;

            p {
                margin-bottom: 64px;
                font-size: 10px;
                letter-spacing: -0.32381px;

                color: #878B90;
            }
        }
   }
}