.content1 {
    height: 653px;
    background-color: #258AFF;

    .content1Container {
        margin: 0 auto;
        width: 353px;
        height: 100%;

        .content1Img {
            margin: 0 auto 22px auto;
            Height: 330px;
            width: 200px;

            background-image: url(/assets/images/app-shot-01.svg);
            background-repeat: no-repeat;
            background-size: contain;

            transform: scale(2);

            position: relative;
            top: 6px;
        }
        
        .content1Main {
            display: flex;
            flex-direction: column;
            gap: 22px;

            color: #FFF;

            p:last-of-type {
                line-height: 2em;
            }
        }
    }
}