@media only screen and (max-width: 500px) {
  // GENERAL
  $primary-color: #1f1f1f;
  $secondary-color: #666666;
  $accent-color1: #258aff;
  $background-color: #e3eef8;

  body {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  //FEATURES
  .featuresContainer {
    padding-top: 64px;
    padding-left: 58px;
    padding-right: 58px;
    margin-bottom: 141px;
    background-color: $background-color;
  }
  .featuresContent {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 57px;
    .features {
      display: flex;
      flex-direction: row;
      gap: 31px;
    }
    img {
      width: 24px;
      height: 26px;
      margin-top: 3px;
    }
    .featuresText {
      display: flex;
      flex-direction: column;
      h3 {
        color: #000000;
        font: {
          weight: 700;
          size: 20px;
        }
        line-height: 32px;
        letter-spacing: -1px;
      }
      p {
        color: $secondary-color;
        font: {
          size: 15px;
        }
        line-height: 28px;
      }
    }
  }

  // CONTENT 2
  .content2 {
    background-color: $background-color;
    padding-top: 67px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ffffff;

    .content2Main {
      h3 {
        color: $accent-color1;
        text-transform: uppercase;
        font : {
          weight: 700;
          size: 15px;
        }
        line-height: 18px;
        letter-spacing: 2.8125px;
      }
      h2 {
        color: $primary-color;
        font : {
          weight: 700;
          size: 30px;
        }
        line-height: 30px;
        letter-spacing: -2.52632px;
        padding-top: 20px;
      }
      p {
        color: $secondary-color;
        font : {
          weight: 400;
          size: 15px;
        }
        line-height: 32px;
        padding-top: 20px;
      }
    }
    .content2Box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 35px;
      .content2Icon {
        background-color: $accent-color1;
        border-radius: 50%;
        width: 20.53px;
        height: 20.53px;
        padding: 11.73px;
      }
      h3 {
        width: 160px;
        height: 32px;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        font : {
          weight: 700;
          size: 20px;
        }
        line-height: 32px;
        letter-spacing: -1px;
      }
      p {
        width: 243px;
        height: 84px;
        font-size: 15px;
        line-height: 28px;
        text-align: center;
        color: $secondary-color;
      }
    }
    img {
      border-radius: 10px;
    }
  }
}
