@media only screen and (max-width: 500px) {
  // GENERAL
  $primary-color: #1f1f1f;
  $secondary-color: #666666;
  $accent-color1: #258aff;
  $background-color: #e3eef8;

  //FEATURES
  .featuresContainer {
    padding-top: 64px;
    padding-left: 58px;
    padding-right: 58px;
    padding-bottom: 66px;
  }
  .featuresContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 57px;
    .features {
      display: flex;
      flex-direction: row;
      gap: 31px;
    }
    img {
      width: 24px;
      height: 26px;
      margin-top: 3px;
    }
    .featuresText {
      display: flex;
      flex-direction: column;
      h3 {
        color: #000000;
        font: {
          weight: 700;
          size: 20px;
        }
        line-height: 32px;
        letter-spacing: -1px;
      }
      p {
        color: $secondary-color;
        font: {
          size: 15px;
        }
        line-height: 28px;
      }
    }
  }

  // CONTENT 2
  .content2 {
    padding-top: 67px;
    padding-left: 59px;
    padding-right: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .content2Main {
      h3 {
        color: $accent-color1;
        text-transform: uppercase;
        font : {
          weight: 700;
          size: 15px;
        }
        line-height: 18px;
        letter-spacing: 2.8125px;
      }
      h2 {
        color: $primary-color;
        font : {
          weight: 700;
          size: 30px;
        }
        line-height: 30px;
        letter-spacing: -2.52632px;
        padding-top: 20px;
      }
      p {
        color: $secondary-color;
        font : {
          weight: 400;
          size: 15px;
        }
        line-height: 32px;
        padding-top: 20px;
      }
    }
    .content2Box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 35px;
      .content2Icon {
        background-color: $accent-color1;
        border-radius: 50%;
        width: 20.53px;
        height: 20.53px;
        padding: 11.73px;
      }
      h3 {
        width: 160px;
        height: 32px;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        font : {
          weight: 700;
          size: 20px;
        }
        line-height: 32px;
        letter-spacing: -1px;
      }
      p {
        width: 243px;
        height: 84px;
        font-size: 15px;
        line-height: 28px;
        text-align: center;
        color: $secondary-color;
      }
    }
    .content2Img {
      margin-left: auto;
      margin-right: auto;
      margin-top: 54px;
      width: 300px;
      height: 493px;
      border-radius: 10px;
    }
    .content2Border {
      width: 354px;
      border-bottom: 1px solid #ffffff;
      padding-top: 32px;
    }
  }

  // TESTIMONIAL
  .testimonial {
    padding-top: 67px;
    padding-left: 59px;
    padding-right: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .testimonialMain {
      padding-left: 10px;
      padding-right: 10px;
      h3 {
        color: $accent-color1;
        text-transform: uppercase;
        font : {
          weight: 700;
          size: 15px;
        }
        line-height: 18px;
        letter-spacing: 2.8125px;
      }
      h2 {
        color: $primary-color;
        font : {
          weight: 700;
          size: 30px;
        }
        line-height: 30px;
        letter-spacing: -2.52632px;
        padding-top: 20px;
      }
      p {
        color: $secondary-color;
        font : {
          weight: 400;
          size: 15px;
        }
        line-height: 32px;
        padding-top: 20px;
      }
    }
    .testimonialBox {
      width: 315px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.036062);
      margin: 35px 35px;
      padding: 31px 20px;
      display: flex;
      flex-direction: column;
      gap: 17px;
      blockquote {
        font: {
          family: "Rubik", sans-serif;
          size: 15px;
        }
        color: $primary-color;
        line-height: 32px;
        letter-spacing: -0.1px;
      }
      .customer {
        display: flex;
        flex-direction: row;
        gap: 22px;
        h4 {
          font : {
            weight: 700;
            size: 15px;
          }
          line-height: 28px;
          letter-spacing: -0.32px;
        }
        p {
          font-size: 12px;
          line-height: 28px;
          letter-spacing: -0.4px;
          color: $secondary-color;
        }
      }
    }
    .testimonialBox2 {
      display: none;
    }
  }
  .clients {
    width: 390px;
    margin-left: 55px;
    margin-right: 55px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    img {
      filter: grayscale(100%);
    }
  }
}
