.price {
    height: 1237px;

    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    background-color: #192F48;

    .priceHeader {
        width: 330px;

        color: #FFF;

        p {
            margin-bottom: 25px;

            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3px;
        }

        h3 {
            font-size: 25px;
            font-weight: 700;
            line-height: 30px;
        }
    }

    .cardContent {
        width: 330px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .priceCard {
            width: calc(330px - 62px);
            height: calc(515px - 90px);
            padding: 31px 45px;

            border: 1px white solid;

            p:first-of-type {
                margin-bottom: 49px;
            }
        }
    }
}